<h1><%=title%></h1>
<form action="" method="POST">
    <div class="form-group">
        <label for="book">Book: </label>
        <select id="book.form-control" type="select" placeholder="Select book" name="book" required>
            <% book_list.sort(function(a, b) {let textA = a.title.toUpperCase(); let textB = b.title.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
            book_list.forEach((book) => { %>
                <%if(selected_book){%>
                    <option value="<%=book._id%>" <%=selected_book._id.toString()===book._id.toString() ? 'selected' : ''%>><%=book.title%></option>
                <%} else{%>
                    <option value="<%=book._id%>"><%=book.title%></option>
                <%}%>
            <%})%>
        </select>
    </div>
    <div class="form-group">
        <label for="imprint">Imprint: </label>
        <%if(bookinstance){ %>
            <input id="imprint.form-control" type="text" placeholder="Publisher and date information" name="imprint" value="<%=bookinstance.imprint%>" required>
        <%} else{ %>
            <input id="imprint.form-control" type="text" placeholder="Publisher and date information" name="imprint" value="" required>
        <%}%>
    </div>
    <div class="form-group">
        <label for="due_back">Date when book available: </label>
        <%if(bookinstance){ %>
            <input id="due_back.form-control" type="date" name="due_back" value="<%=bookinstance.due_back%>">
        <%} else{ %>
            <input id="due_back.form-control" type="date" name="due_back" value="">
        <%}%>
    </div>
    <div class="form-group">
        <label for="status">Status: </label>
        <select type="select" placeholder="Select status" name="status" id="status.form-control" required>
            <%if(bookinstance){ %>
                <option value="Maintenance" selected="<%=undefined===bookinstance || bookinstance.status!='Maintenance' ? false:'selected'%>">Maintenance</option>
                <option value="Available" selected="<%=undefined===bookinstance || bookinstance.status!='Available' ? false:'selected'%>">Available</option>
                <option value="Loaned" selected="<%=undefined===bookinstance || bookinstance.status!='Loaned' ? false:'selected'%>">Loaned</option>
                <option value="Reserved" selected="<%=undefined===bookinstance || bookinstance.status!='Reserved' ? false:'selected'%>">Reserved</option>
            <%} else{%>
                <option value="Maintenance" selected="false">Maintenance</option>
                <option value="Available" selected="false">Available</option>
                <option value="Loaned" selected="false">Loaned</option>
                <option value="Reserved" selected="false">Reserved</option>
            <%}%>
        </select>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>


  <%if(errors){ %>
    <ul>
        <%errors.forEach((error) =>{ %>
            <li><%=error.msg%></li>

        <%});%>
    </ul>
<%}%>
